In [1]:
import pandas as pd

In [2]:
PRODUTIVITY_PATH = "../data/SIDRA/tabela1613.xlsx"
NDVI_PATH = "../data/GOOGLE_EARTH_ENGINE/ndvi_manhuacu.csv"

In [3]:
prod_df = pd.read_excel(
    PRODUTIVITY_PATH,
    sheet_name="Quantidade produzida (Tonela..."
)
prod_df

prod_manhuacu = prod_df[prod_df["Tabela 1613 - Área destinada à colheita, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras permanentes"] == "Manhuaçu (MG)"]

year = 1974
rename_dict = {}
for i in range(50):
    col_num = i+1 
    rename_dict[f"Unnamed: {col_num}"] = year
    year += 1

prod_manhuacu = prod_manhuacu.rename(columns=rename_dict)
prod_manhuacu = prod_manhuacu.transpose()
prod_manhuacu = prod_manhuacu.reset_index()
prod_manhuacu = prod_manhuacu.iloc[1:, :]
prod_manhuacu.columns = ["Year", "Production (ton)"]
prod_manhuacu["Production (kg)"] = 1000 * prod_manhuacu["Production (ton)"]
prod_manhuacu = prod_manhuacu.drop(columns=["Production (ton)"])

prod_manhuacu

    Year Production (kg)
1   1974         4352000
2   1975         1308000
3   1976         2095000
4   1977         5250000
5   1978         5153000
6   1979        25935000
7   1980         6110000
8   1981        34521000
9   1982        19885000
10  1983        26582000
11  1984        14338000
12  1985        15012000
13  1986        13009000
14  1987        31000000
15  1988        20901000
16  1989        26027000
17  1990        29910000
18  1991        29452000
19  1992        21761000
20  1993        15362000
21  1994        24390000
22  1995        21562000
23  1996        30391000
24  1997        13267000
25  1998        18480000
26  1999        18480000
27  2000        17424000
28  2001        17424000
29  2002        26325000
30  2003        13533000
31  2004        16560000
32  2005        16065000
33  2006        16065000
34  2007        16065000
35  2008        23958000
36  2009        20235000
37  2010        25047000
38  2011        26136000
39  2012        21780000
40  2013        26352000
41  2014        16320000
42  2015        23460000
43  2016        19278000
44  2017        26274000
45  2018        26050000
46  2019        21338000
47  2020        36826000
48  2021        19728000
49  2022        32688000
50  2023        25680000

In [4]:
area_df = pd.read_excel(
    PRODUTIVITY_PATH,
    sheet_name="Área colhida (Hectares)"
)

area_manhuacu = area_df[area_df["Tabela 1613 - Área destinada à colheita, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras permanentes"] == "Manhuaçu (MG)"]

year = 1974
rename_dict = {}
for i in range(50):
    col_num = i+1 
    rename_dict[f"Unnamed: {col_num}"] = year
    year += 1

area_manhuacu = area_manhuacu.rename(columns=rename_dict)
area_manhuacu = area_manhuacu.transpose()
area_manhuacu = area_manhuacu.reset_index()
area_manhuacu = area_manhuacu.iloc[1:, :]
area_manhuacu.columns = ["Year", "Area (ha)"]

area_manhuacu

    Year Area (ha)
1   1974      2176
2   1975      2180
3   1976      2538
4   1977      2625
5   1978      2931
6   1979     10362
7   1980     10750
8   1981     11655
9   1982     12631
10  1983     14679
11  1984     14541
12  1985     13237
13  1986     17416
14  1987     21421
15  1988     23855
16  1989     27010
17  1990     27131
18  1991     27270
19  1992     25906
20  1993     18292
21  1994     18270
22  1995     18797
23  1996     20167
24  1997     13820
25  1998     13200
26  1999     13200
27  2000     13200
28  2001     13200
29  2002     17550
30  2003     17350
31  2004     17250
32  2005     17850
33  2006     17850
34  2007     17850
35  2008     18150
36  2009     17750
37  2010     18150
38  2011     18150
39  2012     18150
40  2013     18300
41  2014     17000
42  2015     17000
43  2016     15300
44  2017     18330
45  2018     18090
46  2019     20920
47  2020     21920
48  2021     21920
49  2022     22700
50  2023     21400

In [5]:
manhuacu_df = pd.merge(
    how="inner",
    left=prod_manhuacu,
    right=area_manhuacu,
    on="Year",
)
manhuacu_df

    Year Production (kg) Area (ha)
0   1974         4352000      2176
1   1975         1308000      2180
2   1976         2095000      2538
3   1977         5250000      2625
4   1978         5153000      2931
5   1979        25935000     10362
6   1980         6110000     10750
7   1981        34521000     11655
8   1982        19885000     12631
9   1983        26582000     14679
10  1984        14338000     14541
11  1985        15012000     13237
12  1986        13009000     17416
13  1987        31000000     21421
14  1988        20901000     23855
15  1989        26027000     27010
16  1990        29910000     27131
17  1991        29452000     27270
18  1992        21761000     25906
19  1993        15362000     18292
20  1994        24390000     18270
21  1995        21562000     18797
22  1996        30391000     20167
23  1997        13267000     13820
24  1998        18480000     13200
25  1999        18480000     13200
26  2000        17424000     13200
27  2001        17424000     13200
28  2002        26325000     17550
29  2003        13533000     17350
30  2004        16560000     17250
31  2005        16065000     17850
32  2006        16065000     17850
33  2007        16065000     17850
34  2008        23958000     18150
35  2009        20235000     17750
36  2010        25047000     18150
37  2011        26136000     18150
38  2012        21780000     18150
39  2013        26352000     18300
40  2014        16320000     17000
41  2015        23460000     17000
42  2016        19278000     15300
43  2017        26274000     18330
44  2018        26050000     18090
45  2019        21338000     20920
46  2020        36826000     21920
47  2021        19728000     21920
48  2022        32688000     22700
49  2023        25680000     21400

In [6]:
manhuacu_df["Productivity (kg/ha)"] = manhuacu_df["Production (kg)"] / manhuacu_df["Area (ha)"]
manhuacu_df

    Year Production (kg) Area (ha) Productivity (kg/ha)
0   1974         4352000      2176               2000.0
1   1975         1308000      2180                600.0
2   1976         2095000      2538           825.453113
3   1977         5250000      2625               2000.0
4   1978         5153000      2931          1758.103037
5   1979        25935000     10362          2502.895194
6   1980         6110000     10750           568.372093
7   1981        34521000     11655          2961.904762
8   1982        19885000     12631          1574.301322
9   1983        26582000     14679            1810.8863
10  1984        14338000     14541           986.039475
11  1985        15012000     13237          1134.093828
12  1986        13009000     17416           746.956821
13  1987        31000000     21421          1447.178003
14  1988        20901000     23855           876.168518
15  1989        26027000     27010           963.606072
16  1990        29910000     27131          1102.428956
17  1991        29452000     27270          1080.014668
18  1992        21761000     25906           839.998456
19  1993        15362000     18292           839.820687
20  1994        24390000     18270          1334.975369
21  1995        21562000     18797          1147.097941
22  1996        30391000     20167          1506.966827
23  1997        13267000     13820           959.985528
24  1998        18480000     13200               1400.0
25  1999        18480000     13200               1400.0
26  2000        17424000     13200               1320.0
27  2001        17424000     13200               1320.0
28  2002        26325000     17550               1500.0
29  2003        13533000     17350                780.0
30  2004        16560000     17250                960.0
31  2005        16065000     17850                900.0
32  2006        16065000     17850                900.0
33  2007        16065000     17850                900.0
34  2008        23958000     18150               1320.0
35  2009        20235000     17750               1140.0
36  2010        25047000     18150               1380.0
37  2011        26136000     18150               1440.0
38  2012        21780000     18150               1200.0
39  2013        26352000     18300               1440.0
40  2014        16320000     17000                960.0
41  2015        23460000     17000               1380.0
42  2016        19278000     15300               1260.0
43  2017        26274000     18330          1433.387889
44  2018        26050000     18090          1440.022112
45  2019        21338000     20920           1019.98088
46  2020        36826000     21920          1680.018248
47  2021        19728000     21920                900.0
48  2022        32688000     22700               1440.0
49  2023        25680000     21400               1200.0

In [7]:
manhuacu_df.to_csv(
    "../data/PROCESSED/manhuacu.csv",
    index=False,
)

In [8]:

NDVI_df = pd.read_csv(NDVI_PATH)
NDVI_df = NDVI_df.rename(columns={"date": "Data", "ndvi": "NDVI"})
NDVI_df["Year"] = pd.to_datetime(NDVI_df["Data"]).dt.year
print(NDVI_df)
NDVI_df.to_csv(
    "../data/PROCESSED/ndvi.csv",
    index=False,
)

NDVI_df

           Data      NDVI  Year
0    2000-02-18  0.482058  2000
1    2000-03-05  0.476160  2000
2    2000-03-21  0.483806  2000
3    2000-04-06  0.495976  2000
4    2000-04-22  0.468606  2000
..          ...       ...   ...
574  2025-02-02  0.403857  2025
575  2025-02-18  0.366805  2025
576  2025-03-06  0.407189  2025
577  2025-03-22  0.383104  2025
578  2025-04-07  0.401037  2025

[579 rows x 3 columns]

           Data      NDVI  Year
0    2000-02-18  0.482058  2000
1    2000-03-05  0.476160  2000
2    2000-03-21  0.483806  2000
3    2000-04-06  0.495976  2000
4    2000-04-22  0.468606  2000
..          ...       ...   ...
574  2025-02-02  0.403857  2025
575  2025-02-18  0.366805  2025
576  2025-03-06  0.407189  2025
577  2025-03-22  0.383104  2025
578  2025-04-07  0.401037  2025

[579 rows x 3 columns]